<% provide(:title, "Welcome!") %>

<div class="dashboard">
  <div class="row">

    <div class="col-lg-5">
        <h5>Total Assets</h5>
        <%= pie_chart @inventory.group(:equipment).count %>
    </div>

    <div class="col-lg-6">
      <h5>Equipment By Status</h5>
      <%= column_chart @inventory.group(:status).count %>
    </div>

  </div>

  <div class="row">

    <div class="col-sm-5">
      <h5>Contracts By Type</h5>
      <%= pie_chart @contract.group(:contract_type).count %>
    </div>

  </div>

  <div class="row">
    <div class="col-sm-4">
      <h5>Contracts Expiring Soon</h5>
      <ul>
        <li>Expiring within 60 days: </li>
      </ul>
    </div>
  </div>

</div>
