<ul class='results'>
  <% if @results.blank? %>
    <li><i>No Results</i></li>
  <% else %>
    <% @results.each do |result| %>
      <li>
        <%= link_to result.try(:name), inventory_path(result) %>
      </li>
    <% end %>
  <% end %>
</ul>
