// Place all the styles related to the inventories controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

//######### Main ############

h1 {
  font-size: 1.5em;
  margin-bottom: 1.5em;
}

.remove-icon td {
  text-align: center;
}

.large-number {
  font-size: 3em;
}

//######### Show Pages ###########

.record-show {
  margin-bottom: 2em;
}

.record-show ul {
  list-style: none;
  padding-left: 0;
}

.record-show li {
  padding-bottom: 5px;
}

.record-show strong {
  padding-right: 5px;
}

.show-buttons span {
  padding-right: 15px;
}

#show-table td {
  padding: 4px 8px;
  border: solid 1px #dedede;
}

#show-table th {
  padding: 4px 18px 4px 6px;
  border: solid 1px #dedede;
}

#show-table tbody tr:nth-child(odd) {
  background-color: #E1EBF5;
}

#show-table tbody tr:hover {
  background-color: #ADC5DE;
}

//######### Show Navigation ###########

.nav-pills>li.active>a, .nav-pills>li.active>a:focus, {
    background-color: #fff;
    color: #000;
}

.nav-pills>li.active>a:hover {
  background-color: #dedede;
  color: #000;
}

.nav-pills>ul {
  padding-left: 0;
}

//######### Contracts ###########


//########## Assets ############


//######### Tickets ##########



//######### Dashboard ############

.dashboard ul {
  list-style: none;
  padding-left: 0;
}

.panel-default {
  background-color: #3071AB;
  color: #fff;
}

.red-panel .panel-default {
  background-color: #D9311E;
}

.green-panel .panel-default {
  background-color: #0DB53A;
}

//######## Forms ############

.new_inventory label, .edit_inventory label {
  padding: 10px 0px;
}

.new_inventory input[type="submit"], .edit_inventory input[type="submit"]  {
  margin-top: 10px;
}

.new_contract label, .edit_contract label {
  padding: 10px 0px;
}

.new_contract input[type="submit"], .edit_contract input[type="submit"] {
  margin-top: 10px;
}

.new_ticket label, .edit_ticket label {
  padding: 10px 0px;
}

//########## Tablesorter #########

table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: #ccc;
}

table.tablesorter thead tr .header {
	background-image: url(asset_path('bg.gif'));
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}

// table.tablesorter tbody td {
// 	color: #3D3D3D;
// }
table.tablesorter tbody tr.odd td {
	background-color:#F0F0F6;
}

table.tablesorter thead tr .headerSortUp {
	background-image: url(asset_path('asc.gif'));
}

table.tablesorter thead tr .headerSortDown {
	background-image: url(asset_path('desc.gif'));
}

table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
background-color: #4296DB;
}
